* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============= Layout, Basics, Typography ============= */

body {
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.section-wrapper {
    max-width: 1440px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.primary-button {
    display: inline-block;
    border-radius: 10px;
    background: #DDC297;
    box-shadow: 0px 0px 30px 2px rgba(255, 241, 114, 0.25);
    padding: 15px 25px;
    color: #222;
    font-size: 1.125rem;
    font-weight: 600;
}

.primary-button:hover, .primary-button.focus {
    background-color: #FFEAC9;
    transform: scale(1.01);
}

/* ============= Navbar ============= */
nav {
    color: #fff;
    font-family: 'Baskervville', serif;
    display: flex;
    align-items: center;
}

.logo {
    color: #D9C290;
    font-size: 1.5rem;
}

ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
    font-size: 1.125em;
    margin-left: auto;
    z-index: 999;
}

ul li:hover {
    transform: scale(1.1);
}

/* ============= Hero Section ============= */

.hero-section {
    width: 100vw;
    height: 600px;
    background: linear-gradient(315deg, #564840 0%, #222 45.31%);
}

.hero-section .section-wrapper {
    padding: 60px 120px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}

.hero-image {
    margin-top: -25px;
    width: 699px;
    height: 427px;
}

.hero-content {
    margin-top: 112px;
}

.hero-content h1 {
    width: 480px;
    color: #FFF;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.hero-content p {
    margin-top: 18px;
    color: #DCDCDC;
    font-size: 1.125rem;
    letter-spacing: .20px;
}

.hero-content .primary-button {
    margin-top: 36px;
    font-size: 1.125rem;
}

/* ============= Info Section ============= */

.info-section {
    margin: 64px 0 96px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-top: 32px;
}

.info-title {
    text-align: center;
    color: #222;
    font-size: 2.25rem;
}

.card-image {
    width: 180px;
    height: 180px;
    border: 5px solid #4D413B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image:hover {
    transform: scale(.99);
    background-color: #fff;
}

.card p {
    margin-top: 16px;
    max-width: 180px;
    text-align: center;
    color: #222;
    font-size: 1.125em;
    letter-spacing: .20px;
}

/* ============= Quote Section ============= */

.quote-section {
    width: 100vw;
    height: 400px;
    background: linear-gradient(135deg, #564840 0%, #222 46.35%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quote-container {
    width: 900px;
    text-align: center;
}

.quote-text {
    color: #FFF;
    font-size: 36px;
    font-family: Baskervville;
    font-style: italic;
    font-weight: 400;
    letter-spacing: .40px;
}

.quote-author {
    margin-top: 16px;
    color: #929292;
    font-size: 1.125em;
    font-weight: 500;
}

.background-vector {
    background-image: url(./assets/Vector.png);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    position: absolute;
    top: 90
}

/* ============= CTA Section ============= */

.cta-section {
    margin: 98px 0;
}

.cta-section .section-wrapper {
    padding: 0 98px;
}

.cta-container {
    background-color: #5E7C7D;
    border-radius: 10px;
    padding: 32px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text h1 {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
    letter-spacing: .40px;
}

.cta-text p {
    color: #DCDCDC;
    font-size: 1.125rem;
    letter-spacing: .20px;
}

/* ============= Footer Section ============= */

footer {
    background: linear-gradient(315deg, #564840 0%, #222 45.31%);
}

footer .section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    color: #929292;
    font-size: 1rem;
}

.copyright {
    display: flex;
    align-items: center;
}

.copyright a {
    margin-left: 16px;
}

.copyright a:focus, .copyright a:hover {
    color: #D9C290;
    transform: scale(1.1);
}